<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-toast></p-toast>
            <p-table #dt [value]="terceros" [lazy]="true" (onLazyLoad)="loadTerceros($event)" dataKey="id"
                styleClass="p-datatable-sm p-datatable-striped" [tableStyle]="{ 'min-width': '75rem' }"
                [selection]="selectedTerceros" [selectAll]="selectAll"
                [paginator]="true" [rows]="rows"
                [totalRecords]="totalRecords" [loading]="loading" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="true" scrollHeight="600px"
                currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Mantenimiento de Clientes / Proveedores</h5>
                        <div class="my-2">
                            <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                                class="p-button-primary p-button-sm mr-2" (click)="openNew()"></button>
                            <button pButton pRipple label="Exportar" icon="pi pi-file-excel"
                                class="p-button-success p-button-sm mr-2" (click)="exportToExcel()"></button>
                            <button pButton pRipple label="Imprimir" icon="pi pi-print"
                                class="p-button-secondary p-button-sm" (click)="exportToPdf()"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="numerodoi">Número DOI <p-sortIcon field="numerodoi"></p-sortIcon></th>
                        <th pSortableColumn="nombretercero">Nombre / Razón Social <p-sortIcon
                                field="nombretercero"></p-sortIcon></th>
                        <th pSortableColumn="direcciones.direccion">Direcciones <p-sortIcon
                                field="direccion"></p-sortIcon></th>
                        <th pSortableColumn="correo">Correo <p-sortIcon field="correo"></p-sortIcon></th>
                        <th pSortableColumn="telefono">Teléfono <p-sortIcon field="telefono"></p-sortIcon></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="id" [matchModeOptions]="matchModeOptions"
                                [matchMode]="'startsWith'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="numerodoi" [matchModeOptions]="matchModeOptions"
                                [matchMode]="'startsWith'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="nombretercero" [matchModeOptions]="matchModeOptions"
                                [matchMode]="'startsWith'"></p-columnFilter>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tercero>
                    <tr>
                        <td style="width:10%; min-width:10rem;"><span class="p-column-title">ID</span>
                            {{tercero.id}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Numero DOI</span>
                            {{tercero.numerodoi}}
                        </td>

                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Nombre / Razón Social</span>
                            {{tercero.nombretercero}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Direcciones</span>
                            <div *ngFor="let item of tercero.direcciones">
                                {{ item.direccion }}
                            </div>
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Correo</span>
                            {{tercero.correo}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Teléfono</span>
                            {{tercero.telefono}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <div class="flex">
                                <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text" (click)="editTercero(tercero)"></p-button>
                                <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text"  (click)="deleteTercero(tercero)"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="terceroDialog" [style]="{width: '550px'}" header="Formularios Clientes / Proveedores"
            [modal]="true" class="p-fluid">

            <ng-template pTemplate="content">
                <form [formGroup]="terceroForm">
                    <div class="formgrid grid">
                        <div class="field col-3">
                            <label for="terceroid">ID</label>
                            <input type="text" pInputText id="terceroid" formControlName="id" readonly
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !id}" />
                        </div>
                        <div class="field col-3">
                            <label for="tipodoi">DOI</label>
                            <p-dropdown [options]="tiposDoi" pAutoFocus [autofocus]="true" formControlName="tipodoi" optionLabel="tipo"
                                optionValue="codigo"></p-dropdown>
                        </div>
                        <div class="field col-6">
                            <label for="codigo">Número DOI</label>
                            <div class="p-inputgroup">
                                <input type="text" pInputText id="numerodoi" formControlName="numerodoi"
                                    [ngClass]="{'ng-invalid ng-dirty' : isValidField('numerodoi')}" />

                                <button type="button" pButton icon="pi pi-search" (click)="buscarMigo()"
                                    styleClass="p-button-warn"></button>
                            </div>
                            <small class="ng-dirty ng-invalid" *ngIf="isValidField('numerodoi')">{{ getFieldError('numerodoi') }} </small>
                        </div>
                    </div>
                    <div class="field">
                        <label for="nombretercero">Nombre</label>
                        <input type="text" pInputText id="nombretercero" formControlName="nombretercero"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField('nombretercero')}" />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('nombretercero')">{{
                            getFieldError('nombretercero') }} </small>
                    </div>
                    <div class="field">
                        <label for="direccion">Dirección</label>
                        <input type="text" pInputText id="direccion" formControlName="direccion"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField('direccion')}" />
                            <small class="ng-dirty ng-invalid" *ngIf="isValidField('direccion')">{{ getFieldError('direccion') }} </small>
                    </div>
                    <div class="field">
                        <label for="ubigeo">Ubigeo</label>
                        <p-autoComplete formControlName="ubigeo" [suggestions]="ubigeosFiltrados"
                            (completeMethod)="filtrarUbigeos($event)" field="nombreUbigeo" [minLength]="3"
                            [forceSelection]="true" [ngClass]="{'ng-invalid ng-dirty' : isValidField('ubigeo')}" >
                            <ng-template let-ubigeo pTemplate="item">
                                <div>{{ ubigeo.distrito }} - {{ ubigeo.provincia }} - {{ ubigeo.departamento }}</div>
                            </ng-template>
                        </p-autoComplete>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('ubigeo')">{{ getFieldError('ubigeo') }} </small>
                    </div>
                    <div class="field">
                        <label for="correo">Correo</label>
                        <input type="text" pInputText id="correo" formControlName="correo"/>
                    </div>
                    <div class="field">
                        <label for="correo">Teléfono</label>
                        <input type="text" pInputText id="telefono" formControlName="telefono"/>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-primary"
                    (click)="saveTercero()" [disabled]="terceroForm.invalid"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>
            </ng-template>

        </p-dialog>

        <p-dialog [(visible)]="deleteTerceroDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-question-circle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tercero">¿Está seguro que desea eliminar el Cliente / Proveedor <b>{{tercero.nombretercero}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="No"
                    (click)="deleteTerceroDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Si, Eliminar"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


    </div>
</div>
