<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h5>Abonado: {{titulo}}</h5>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pButton type="button" label="Guardar Abonado" icon="pi pi-save" class="mr-2 p-button-sm"
                        (click)="saveAbonado()"></button>
                    <i class="pi pi-bars p-toolbar-separator"></i>
                    <button pButton type="button" label="Ir a lista" icon="pi pi-table"
                        class="p-button-secondary mr-2 p-button-sm" (click)="toLista()"></button>
                </div>
            </p-toolbar>
        </div>
    </div>
    <p-toast></p-toast>
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <form [formGroup]="abonadoForm">
                <!-- <p-fieldset legend="Datos del Abonado"> -->
                <div class="field grid">
                    <label htmlFor="abonadoid" class="col-12 mb-2 md:col-1 md:mb-0">ID</label>
                    <div class="col-12 md:col-2">
                        <input type="number" pInputText id="abonadoid" formControlName="id" readonly />
                        <input type="hidden" pInputText id="terceroid" formControlName="terceroId" readonly />
                    </div>

                    <label htmlFor="tipodoi" class="col-12 mb-2 md:col-2 md:mb-0">DOI Nro.</label>
                    <div class="col-12 md:col-3">
                        <p-dropdown [options]="tiposDoi" id="tipodoi" formControlName="tipodoi" optionLabel="tipo"
                            optionValue="codigo" [readonly]="nuevoabonado"></p-dropdown>
                    </div>

                    <div class="col-12 md:col-4">
                        <div class="p-inputgroup">
                            <input type="text" pInputText id="numerodoi" formControlName="numerodoi"
                                [readonly]="nuevoabonado"
                                [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'numerodoi')}" />
                            <button type="button" pButton icon="pi pi-search" (click)="buscarMigo()"
                                styleClass="p-button-warn" [disabled]="nuevoabonado"></button>
                        </div>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm,'numerodoi')">{{
                            getFieldError(abonadoForm, 'numerodoi') }} </small>
                    </div>
                </div>

                <div class="field grid">
                    <label htmlFor="nombretercero" class="col-12 mb-2 md:col-3 md:mb-0">Nombre Cliente</label>
                    <div class="col-12 md:col-9">
                        <input type="text" pInputText id="nombretercero" formControlName="nombretercero"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'nombretercero')}"
                            [readonly]="nuevoabonado" />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'nombretercero')">{{
                            getFieldError(abonadoForm, 'nombretercero') }} </small>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col-6">
                        <label for="direccion">Dirección</label>
                        <input type="text" pInputText id="direccion" formControlName="direccion"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'direccion')}"
                            [readonly]="nuevoabonado" />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'direccion')">{{
                            getFieldError(abonadoForm, 'direccion') }} </small>

                    </div>
                    <div class="field col-6">
                        <label for="ubigeo">Ubigeo</label>
                        <p-autoComplete formControlName="ubigeo" id="ubigeo" [suggestions]="ubigeosFiltrados"
                            (completeMethod)="filtrarUbigeos($event)" field="nombreUbigeo" [minLength]="3"
                            [forceSelection]="true"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm, 'ubigeo')}"
                            [readonly]="nuevoabonado">
                            <ng-template let-ubigeo pTemplate="item">
                                <div>{{ ubigeo.distrito }} - {{ ubigeo.provincia }} - {{ ubigeo.departamento }}
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'ubigeo')">{{
                            getFieldError('ubigeo') }} </small>
                    </div>

                </div>

                <div class="field grid">
                    <label htmlFor="correo" class="col-12 mb-2 md:col-2 md:mb-0">Correo</label>
                    <div class="col-12 md:col-4">
                        <input type="text" pInputText id="correo" formControlName="correo" [readonly]="nuevoabonado" />
                    </div>
                    <label htmlFor="telefono" class="col-12 mb-2 md:col-2 md:mb-0">Teléfono</label>
                    <div class="col-12 md:col-4">
                        <input type="text" pInputText id="telefono" formControlName="telefono"
                            [readonly]="nuevoabonado" />
                    </div>
                </div>
                <!-- <hr> -->
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="sectorId">Sector</label>
                        <p-dropdown [options]="sectores" formControlName="sector" id="sectorId"
                            optionLabel="nombresector" placeholder="Selecciona un sector" optionValue="id"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'sector')}"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'sector')">{{
                            getFieldError(abonadoForm, 'sector') }} </small>
                    </div>
                    <div class="field col-6">
                        <label for="viaId">Vía</label>
                        <p-dropdown [options]="vias" formControlName="via" id="viaId" optionLabel="nombrevia"
                            placeholder="Selecciona una vía" [filter]="true" filterBy="nombrevia" [showClear]="true"
                            optionValue="id"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'sector')}"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'via')">{{
                            getFieldError(abonadoForm, 'via') }} </small>
                    </div>
                    <div class="field col-2">
                        <label for="numero">Número</label>
                        <input type="text" pInputText id="numero" formControlName="numero"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'numero')}" />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'numero')">{{
                            getFieldError(abonadoForm, 'numero') }} </small>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="referencia">Referencia</label>
                        <input type="text" pInputText id="referencia" formControlName="referencia" />

                    </div>
                    <div class="field col-4">
                        <label for="planId">Plan</label>
                        <p-dropdown [options]="planes" id="planId" formControlName="plan" optionLabel="nombreplan"
                            placeholder="Selecciona un plan" optionValue="id" [filter]="true" filterBy="nombreplan"
                            [showClear]="true" [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'plan')}"
                            [readonly]="nuevoabonado"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'plan')">{{
                            getFieldError(abonadoForm, 'plan') }} </small>
                    </div>
                    <div class="field col-4">
                        <label for="cajanapId">Caja Nap</label>
                        <p-dropdown [options]="cajasnap" id="cajanapId" formControlName="cajanap"
                            optionLabel="nombrecajanap" placeholder="Selecciona una caja nap" optionValue="id"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'cajanap')}"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'cajanap')">{{
                            getFieldError(abonadoForm, 'cajanap') }} </small>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="ont">Serie ONT</label>
                        <input type="text" pInputText id="ont" formControlName="ont" />
                    </div>
                    <div class="field col-4">
                        <label for="latitud">Latitud</label>
                        <input type="number" pInputText id="latitud" formControlName="latitud" />
                    </div>
                    <div class="field col-4">
                        <label for="longitud">Longitud</label>
                        <input type="number" pInputText id="longitud" formControlName="longitud" />
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="fecharegistro">Fecha Registro</label>
                        <input type="date" pInputText id="fecharegistro" formControlName="fecharegistro"
                            [readonly]="nuevoabonado" />
                    </div>
                    <div class="field col-4">
                        <label for="fechaactivacion">Fecha Activación</label>
                        <input type="date" pInputText id="fechaactivacion" formControlName="fechaactivacion" readonly />
                    </div>
                    <div class="field col-4">
                        <label for="fechaultimaliquidacion">Fecha Ult.Liq.</label>
                        <input type="date" pInputText id="fechaultimaliquidacion"
                            formControlName="fechaultimaliquidacion" readonly />
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="vendedorId">Vendedor</label>
                        <p-dropdown [options]="vendedores" formControlName="vendedor" optionLabel="fullName"
                            optionValue="id"
                            [ngClass]="{'ng-invalid ng-dirty' : isValidField(abonadoForm,'vendedor')}"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField(abonadoForm, 'vendedor')">{{
                            getFieldError(abonadoForm, 'vendedor') }} </small>
                    </div>
                    <div class="field col-4">
                        <label for="estado">Estado</label>
                        <input type="text" pInputText id="estado" formControlName="estado" readonly />
                    </div>
                </div>

                <!-- </p-fieldset> -->
            </form>
        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Ordenes de Atención</h5>
            <p-table #dt1 [value]="abonado.ordenesAtenciones" dataKey="id" [rows]="10" [rowHover]="true"
                styleClass="p-datatable-gridlines" responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 80px;"></th>
                        <th style="min-width: 80px;">
                            <div class="flex justify-content-between align-items-center">
                                Nro. Orden
                            </div>
                        </th>
                        <th style="min-width: 100px;">
                            <div class="flex justify-content-between align-items-center">
                                Registro
                            </div>
                        </th>
                        <th style="min-width: 100px;">
                            <div class="flex justify-content-between align-items-center">
                                Tipo de Orden
                            </div>
                        </th>
                        <th style="min-width: 100px;">
                            <div class="flex justify-content-between align-items-center">
                                Atención
                            </div>
                        </th>
                        <th style="min-width: 100px;">
                            <div class="flex justify-content-between align-items-center">
                                Técnico
                            </div>
                        </th>
                        <th style="min-width: 80px;">
                            <div class="flex justify-content-between align-items-center">
                                Estado
                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orden>
                    <tr>
                        <td pFrozenColumn>
                            <div class="flex" style="background-color: #F6F9FE;">
                                <p-button *ngIf="orden.estado=='GENERADO'" icon="pi pi-file-export" pTooltip="Asignar" tooltipPosition="top" styleClass="p-button-info p-button-text"
                                    (click)="asignarOrdenAtencion(orden)"></p-button>
                                <p-button *ngIf="orden.estado=='ASIGNADO'" icon="pi pi-pencil" pTooltip="Atender" tooltipPosition="top" styleClass="p-button-success p-button-text"
                                    (click)="atenderOrdenAtencion(orden)"></p-button>
                                <p-button icon="pi pi-trash" pTooltip="Anular" tooltipPosition="top" styleClass="p-button-danger p-button-text"
                                    (click)="anularOrdenAtencion(orden)"></p-button>
                                <p-button icon="pi pi-print" pTooltip="Imprimir" tooltipPosition="top" styleClass="p-button-secondary p-button-text"
                                    (click)="ordenAtencionPdf(orden)"></p-button>
                            </div>
                        </td>
                        <td pFrozenColumn style="min-width: 80px;">
                            {{orden.id}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{orden.fecharegistro}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{orden.tipoOrdenAtencion.nombretipoordenatencion}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{orden.fechaatencion}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{orden.tecnico}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{orden.estado}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="card">
            <h5>Areas / Proyectos Registrados</h5>
            <!-- <p-table #dt1 [value]="tercero.areas" dataKey="id" [rows]="10" [rowHover]="true"
                styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Area / Proyecto
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-area>
                    <tr>
                        <td style="min-width: 12rem;">
                            {{area.area}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-info mr-2 p-button-sm"
                                    (click)="editTerceroArea(area)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-sm"
                                    (click)="deleteTerceroArea(area)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table> -->
        </div>
    </div>

    <!-- <p-dialog [(visible)]="direccionDialog" [style]="{width: '550px', height: '350px'}" header="Formulario Dirección"
        [modal]="true" class="p-fluid">

        <ng-template pTemplate="content">
            <form [formGroup]="direccionForm">
                <div class="field">
                    <label for="direccion">Dirección</label>
                    <input type="text" pInputText id="direccion" formControlName="direccion"
                        [ngClass]="{'ng-invalid ng-dirty' : isValidField(direccionForm,'direccion')}" />
                    <small class="ng-dirty ng-invalid" *ngIf="isValidField(direccionForm,'direccion')">{{
                        getFieldError(direccionForm, 'direccion') }} </small>
                </div>
                <div class="field">
                    <label for="ubigeo">Ubigeo</label>
                    <p-autoComplete formControlName="ubigeo" [suggestions]="ubigeosFiltrados"
                        (completeMethod)="filtrarUbigeos($event)" field="nombreUbigeo" [minLength]="3"
                        [forceSelection]="true"
                        [ngClass]="{'ng-invalid ng-dirty' : isValidField(direccionForm,'ubigeo')}">
                        <ng-template let-ubigeo pTemplate="item">
                            <div>{{ ubigeo.distrito }} - {{ ubigeo.provincia }} - {{ ubigeo.departamento }}</div>
                        </ng-template>
                    </p-autoComplete>
                    <small class="ng-dirty ng-invalid" *ngIf="isValidField(direccionForm, 'ubigeo')">{{
                        getFieldError(direccionForm, 'ubigeo') }} </small>
                </div>
            </form>
        </ng-template>


        <ng-template pTemplate="footer">
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-primary"
                (click)="saveDireccion()" [disabled]="direccionForm.invalid"></button>
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                (click)="hideDialog()"></button>
        </ng-template>

    </p-dialog> -->

    <!-- <p-dialog [(visible)]="deleteDireccionDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-question-circle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="terceroDireccion">¿Está seguro que desea eliminar la dirección
                <b>{{terceroDireccion.direccion}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="No"
                (click)="deleteDireccionDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Si, Eliminar"
                (click)="confirmDeleteDireccion()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="areaDialog" [style]="{width: '550px'}" header="Formulario Area" [modal]="true"
        class="p-fluid">

        <ng-template pTemplate="content">
            <form [formGroup]="areaForm">
                <div class="field">
                    <label for="direccion">Area</label>
                    <input type="text" pInputText id="area" formControlName="area"
                        [ngClass]="{'ng-invalid ng-dirty' : isValidField(areaForm,'area')}" />
                    <small class="ng-dirty ng-invalid" *ngIf="isValidField(areaForm,'area')">{{
                        getFieldError(areaForm, 'area') }} </small>
                </div>
            </form>
        </ng-template>


        <ng-template pTemplate="footer">
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-primary" (click)="saveArea()"
                [disabled]="areaForm.invalid"></button>
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                (click)="hideDialog()"></button>
        </ng-template>

    </p-dialog>

    <p-dialog [(visible)]="deleteAreaDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-question-circle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="terceroDireccion">¿Está seguro que desea eliminar el área / proyecto
                <b>{{terceroArea.area}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="No"
                (click)="deleteAreaDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Si, Eliminar"
                (click)="confirmDeleteArea()"></button>
        </ng-template>
    </p-dialog> -->
</div>
